.row{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.game1{
    background-color: rgb(191, 192, 194);
}

button{
    border: none;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_Bua{
    background-color: #008CBA;
    color: white;
}
.button_Bua:hover{
    box-shadow: 2px 2px 25px 0px black;
}

.button_Bao{
    background-color: #f44336;
    color: white;
}
.button_Bao:hover{
    box-shadow: 2px 2px 25px 0px black;
}

.button_Keo{
    background-color: #4CAF50;
    color: white;
}
.button_Keo:hover{
    box-shadow: 2px 2px 25px 0px black;
}

#demo_buabaokeo{
    margin-right: 150px;
    margin-top: 50px;
}

#demo_buabaokeo1{
   visibility: hidden;
   transform: translate(400px,0px);
}

#kq{
   visibility: hidden;
   font-family: 'Courier New', Courier, monospace;
   display: inline-block;
}