<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>MY BLOG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'apphome/home.css' %}">
</head>
<body>
<!-- NAV HOME -->
    <div class="gioithieu">
      <div class="baphan">
        <a href=""><img src="/static/apphome/images/dat1.png" width ="130vw" height="130vh"></a>
      </div>
      <div class="bayphan">
        <h1>BLOG</h1>
        <p>Web use html, css, javascipt, python_django to develop</p> 
      </div>
    </div>
<hr>

<!-- TEST -->
    <div class="test">
      <h1 class="tieudenentrang">TEST</h1>
      <div class="test-all">
        <div class="test-free">
          <a class="select" href="appquiziq/">
            <img src="/static/apphome/images/testIQ.jpg" width="200px" height="200px"><br>
            <span style="color:black;font-weight:800;">Test IQ</span>
          </a>
        </div>
        <div class="test-free">
          <a class="select" href="appquizenglish">
            <img src="/static/apphome/images/testEng.jpg" width="200px" height="200px"><br>
            <span style="color:black;font-weight:800;">Test English</span>
          </a>
        </div>
      </div>
    </div>
<hr>


<!-- MANGXAHOI -->
    <div class="test">
      <h1 class="tieudenentrang">MANG XA HOI</h1>
      <div class="test-all">
        <div class="test-free">
          <a class="select" href="mangxahoi">
            <img src="/static/apphome/images/mangxahoi.png" width="200px" height="200px"><br>
            <span style="color:black;font-weight:800;">QuoDat</span>
          </a>
        </div>
      </div>
    </div>
<hr>


<!-- KHAC -->
    <div class="test">
      <h1 class="tieudenentrang">KHÁC</h1>
      <div class="test-all">

        <div class="test-free">
          <a class="select" href="appre">
            <img src="/static/apphome/images/webfree.jpg" width ="200px" height="200px"><br>
            <span style="color:black;font-weight:800;">Web hoc online free</span>
          </a>
        </div>

        <div class="test-free">
          <a class="select" href="landing_page">
            <img src="/static/apphome/images/landing_page_image.jpg" width ="200px" height="200px"><br>
            <span style="color:black;font-weight:800;">Landing page</span>
          </a>
        </div>

        <div class="test-free">
          <a class="select" href="oantuti">
            <img src="/static/apphome/images/buabaokeo.png" width ="200px" height="200px"><br>
            <span style="color:black;font-weight:800;">Oan tu ti</span>
          </a>
        </div>
      </div>
    </div>
<hr>
</body>
</html>