{% extends "mangxahoi/base.html" %}

{% block title %} Delete Post Page {% endblock %}


{% block content %}



{% if user.is_authenticated %}
     {% if post.author.id == user.id %}
        <h1>Delete Post</h1>
        <br>
        <h4>Delete: {{post.title}}</h4>
        <br><br>

        <form method="POST">
            {% csrf_token %}
            <strong>Bạn chắc chắn chưa?</strong><br><br>
            <button type="submit" class="btn btn-secondary">Xóa</button>   
    {% else %}
        <div class="p-3 mb-2 bg-warning text-dark">
            <strong>ERROR</strong>
        </div>
    {% endif %}
{% else %}
    <div class="p-3 mb-2 bg-warning text-dark">
        <strong>ERROR</strong>
    </div>

{% endif %}



{% endblock %}