{% extends "mangxahoi/base.html" %}

{% block title %} Edit Post Page {% endblock %}


{% block content %}

{% if user.is_authenticated %}
    {% if post.author.id == user.id %}
        <h1>Edit Post</h1>
        <br><br>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Chỉnh sửa</button>
    {% else %}
        <div class="p-3 mb-2 bg-warning text-dark">
            <strong>ERROR</strong>
        </div>
    {% endif %}
        
{% else %}
    <div class="p-3 mb-2 bg-warning text-dark">
        <strong>ERROR</strong>
    </div>

{% endif %}



{% endblock %}