<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>RECOMMEND WEB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'appre/appre.css' %}">
</head>
<body>
  <!-- PHAN TAI LIEU -->
  <main id="main-doc">
    <section id="W3schools" class="main-section">
      <header>W3schools</header>
      <p>W3Schools là một trang web giáo dục cho việc học các công nghệ web trực tuyến. Đây là trang web rất tốt cho những người mới bắt đầu.</p>
      <p>Trang web thiên về hướng lý thuyết kèm với code thực hành cơ bản, giúp cho những người mới bắt đầu dễ học, dễ làm quen, từ đó có nền tảng vững chắc, khá giống với việc giảng dạy ở trường.</p>
      <p>Đánh giá thiên hướng: Nền tảng lý thuyết (7) / Nền tảng thực hành (3)</p>
      <p>Khám phá trang web theo link <a href="https://www.w3schools.com"> này</a> hoặc tham khảo trước ở dưới đây</p> 
      <img src="/static/appre/images/w3schools_vidu1.jpg" width="85%">
      <img src="/static/appre/images/w3schools_vidu2.jpg" width="85%">
      <p><i>* Cực kỳ recommend cho những người mới</i></p>
    </section><hr><br>
    <section id="Freecodecamp" class="main-section">
      <header>Freecodecamp</header>  
      <p>Đây là trang web có thiên hướng dạy về việc code xây dựng với lối đi nghề nghiệp thực tế.</p>
      <p>Hướng tiếp cận ở đây là khá là bao quát, đặc biệt mỗi cuối một khóa học có 1 project để kiểm tra khả năng hoàn thành khóa học hay chưa.</p>
      <p>Phù hợp hơn với những người đã có kiến thức nền rồi.</p>
      <p>Đánh giá thiên hướng: Nền tảng lý thuyết (3) / Nền tảng thực hành (7).</p>
      <p>Khám phá trang web theo link <a href="https://www.freecodecamp.org/learn/"> này</a> hoặc tham khảo trước ở dưới đây</p>
      <img src="/static/appre/images/freecodecamp_vidu1.jpg" width="85%">
      <img src="/static/appre/images/freecodecamp_vidu2.jpg" width="85%">
    </section><hr><br>
    <section id="Hackerrank" class="main-section">
      <header>Hackerrank</header>  
      <p>Khác hẳn với 2 trang web trên, Hackerrank là trang web thiên về khả năng thuật toán hơn.</p>
      <p>Trang web cung cấp các khóa học về các ngôn ngữ bằng việc tạo các vấn đề, và ta sẽ dùng ngôn ngữ lập trình để giải quyết vấn đề đó.</p>
      <p>Đặc biệt trang web còn có các bài kiểm tra về khả năng thuật toán, với việc có thể giải quyết vấn đề trong thời gian hạn định, bạn sẽ đoạt được chứng chỉ tương ứng.</p>
      <p>Thích hợp để rèn luyện tư duy, thuật toán, sự sáng tạo, khả năng giải quyết vấn đề.</p>
      <p>Đánh giá thiên hướng: Nền tảng lý thuyết (1.5) / Nền tảng thực hành (8.5).</p>
      <p>Khám phá trang web theo link <a href="https://www.hackerrank.com/"> này</a> hoặc tham khảo trước ở dưới đây</p>
      <img src="/static/appre/images/hackerrank_vidu1.jpg" width="85%">
      <img src="/static/appre/images/hackerrank_vidu2.jpg" width="85%">
      <img src="/static/appre/images/hackerrank_vidu3.jpg" width="85%">
    </section><hr><br>
    <section id="Howkteam" class="main-section">
      <header>Howkteam</header>
      <p>Là 1 trang web dạy lập trình bao gồm video giảng dạy và phần lý thuyết ở mỗi bài học.</p>
      <p>Với những bạn muốn được học thông qua các video mà sử dụng tiếng việt, đây là trang web phù hợp cho bạn.</p>
      <p>Đánh giá thiên hướng: Nền tảng lý thuyết (5) / Nền tảng thực hành (5).</p>
      <p>Khám phá trang web theo link <a href="https://howkteam.vn/"> này</a> hoặc tham khảo trước ở dưới đây</p>
      <img src="/static/appre/images/howkteam_vidu1.jpg" width="85%">
      <img src="/static/appre/images/howkteam_vidu2.jpg" width="85%">
    </section><hr><br>
    <section id="Codelearn.io" class="main-section">
      <header>Codelearn.io</header>
      <p>Là 1 trang web dạy lập trình thông qua các vấn đề và ta sẽ sử dụng ngôn ngữ lập trình để giải quyết vấn đề (hướng xây dựng khá giống Hackerrank).</p>
      <p>Có các cuộc thi về lập trình diễn ra hàng tháng, giúp bạn thi đấu giao lưu trực tuyến với mọi người.</p>
      <p>Đánh giá thiên hướng: Nền tảng lý thuyết (2) / Nền tảng thực hành (8).</p>
      <p>Khám phá trang web theo link <a href="https://howkteam.vn/"> này</a> hoặc tham khảo trước ở dưới đây</p>
      <img src="/static/appre/images/codelearn.io_vidu1.jpg" width="85%">
      <img src="/static/appre/images/codelearn.io_vidu2.jpg" width="85%">
    </section><hr>
  </main>
      
      
      
 <!-- Phan nav bar -->
 <nav id="navbar">
   <header id="header-navbar"><a href="/apphome"><img src="/static/appre/images/home_icon.png" width=43px> Home</a></header>
   <h1>Web in English</h1>
  <ul>
    <li><a class="nav-link" href="#W3schools"><img src="/static/appre/images/w3schools.jpg" width=29px> W3schools</a></li>
    <li><a class="nav-link" href="#Freecodecamp"><img src="/static/appre/images/freecodecamp.jpg" width=29px> Freecodecamp</a></li>
    <li><a class="nav-link" href="#Hackerrank"><img src="/static/appre/images/hackerrank.jpg" width=29px> Hackerrank</a></li>
  </ul>
  <h1>Web in Vietnammese</h1>
  <ul>
    <li><a class="nav-link" href="#Howkteam"><img src="/static/appre/images/howkteam.jpg" width=29px> Howkteam</a></li>
    <li><a class="nav-link" href="#Codelearn.io"><img src="/static/appre/images/codelearn.io.jpg" width=29px height=17px> Codelearn.io</a></li>
  </ul>
 </nav>
         
</body>